.App {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form label {
  margin: 15px 15px 15px 0;
}

form label.main-field {
  display: block;
  font-weight: bold;
}
form input {
  margin: 0 10px 10px 0
}
form span {
  color: red;
}